.title{
    color: #FFF;

text-align: center;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
margin: 354px 530px 206px;
}
.description{
    color: #FFF;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin:  410px 344px;
}